<!--Coming data with type List<student>-->
@model List<Student>
@{
    ViewData["Title"] = "ShowAll";
}


<h1>ShowAll</h1>
<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Imag</th>
        <th>Imag</th>
    </tr>
    @foreach (var item in Model)
    {
       <tr>
           <td>@item.Id</td>
           <td>@item.Name</td>
           <td>@item.ImageURL</td>
           <td><img src="/Images/@item.ImageURL" style="width:100px"/></td>
       </tr> 
    }
</table>

